.modal_title{
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: var(--main);
    margin-bottom: 20px;
}

.modal_text{
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    color: #121417cc;
    margin-bottom: 40px;
}