:root {
  --main: #121417;
  --bckgr-main:#f8f8f8;
  --bckgr-yellow: #fbe9ba;
  --bckgr-blue: #CBDED3;
  --bckgr-white-blue: #bfd6ea;
  --bckgr-pink:#f2c0bd;
  --bckgr-white-pink: #f4c8ba;
  --accent-yellow:#f4c550;
  --accent-blue: #9fbaae;
  --accent-blue-white: #9fb7ce;
  --accent-pink:#e0a39a;
  --accent-pink-white:#f0aa8d;
  --accent-hover: #ffdc86;
  --text: #121417b3;
  --gray: #8a8a89;
  --dynamic-color: var(--bckgr-yellow);
  --green:#38CD3E;

  --white: #fff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  
  --gray-light: #dadde1;
  --button-hover: #d84343;

}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  color: var(--main);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
